[% IF c.action.name == 'create' %]
[% header_link = c.link('list'), header_text = 'Back to List' %]
[% ELSE %]
[% header_link = c.link('view', { book_id => book.id }), header_text = 'Back to View' %]
[% END %]
[% form.render %]
